<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="logFileLocation" source="app.logging.file-location" />
    <springProperty name="maxLogFileSize" source="app.logging.max-file-size" />
    <springProperty name="maxLogHistory" source="app.logging.max-history" />
    <springProperty name="totalSizeCap" source="app.logging.total-size-cap" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg \(%file:%line\)%n</pattern>
        </encoder>
    </appender>

    <appender name="info-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileLocation}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxLogHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="info-file" />
    </root>

    <logger name="com.acme" level="DEBUG" />
</configuration>
